.cell {
    font-size: 90px;

    align-self: center;
    justify-self: center;
    border-radius: 10px;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid dimgrey;
}

.circle {
    color: tomato;
    border: 3px solid tomato;
}

.chest {
    color: darkcyan;
    border: 3px solid darkcyan;
}
