
.chest {
    font-size: 30px;
    color: darkcyan;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid darkcyan;
}

.circle {
    font-size: 30px;
    color: tomato;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid tomato;
}
